name: CI (Ruby & Docker)

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2
        bundler-cache: true

    - name: Install dependencies
      run: bundle install

    - name: Check Ruby syntax
      run: bundle exec ruby -c config/boot.rb

  build-docker:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Build Docker image
      run: docker build . --file Dockerfile --tag my-todo-app:latest

  deploy:
    needs: build-docker

    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to AWS via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USERNAME }}
          key: ${{ secrets.AWS_SSH_KEY }}
          script: |
            set -e 
            
            cd ris-kr
            
            echo "Deployment started..."
            
            git fetch origin main
            git reset --hard origin/main
            
            docker compose up --build -d
            
            docker compose exec -T web bin/rails db:migrate
            
            docker image prune -f
            
            echo "Deployment finished successfully!"